spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console


  jpa:
    properties:
      hibernate:
        ddl-auto: update
        format_sql: true
    show-sql: true
server:
  port: 8080